html{
    margin: 0px 0px 0px 0px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
}

header{
    background-color: pink;
    grid-column: 1 / -1;
}

.sidebar{
    background-color: yellow;
}

.main-content{
    background-color: orange;
}