html{
    margin: 0px 0px 0px 0px;
}

.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
}

header{
    border: 1px solid black;
    grid-column: 2 / -1;
    grid-row: 1 / 2;
}

.sidebar{
    border: 1px solid black;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

.sidebar ul{
    list-style: none;
}

nav{
    display: grid;
    grid-template-rows: repeat(10 1fr);
}

.main-content{
    border: 1px solid black;
    grid-column: 2 / -1;
    grid-row: 2 / -1;
}