html{
    margin: 0px 0px 0px 0px;
}

.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
}

header{
    grid-column: 2 / -1;
    grid-row: 1 / 2;
}

.sidebar{
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

.main-content{
    grid-column: 2 / -1;
    grid-row: 2 / -1;
}